<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fishme.TestApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>webworker</name>
    <author email="david.hohl@gmail.com" >
        David Hohl
    </author>
    <content src="index.html" />
    <plugin name="cordova-sqlite-evplus-legacy-workers-free" spec="https://github.com/litehelpers/Cordova-sqlite-evplus-legacy-workers-free" />
</widget>
